<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Justice 40</title>
        <link
            rel="stylesheet"
            href="{{ site.baseurl }}/assets/css/styles.css"
        />
    </head>
    <body>
        {{content}}
        <div class="usa-identifier">
            <section
                class="usa-identifier__section usa-identifier__section--masthead"
                aria-label="Agency identifier"
            >
                <div class="usa-identifier__container">
                    <div class="usa-identifier__logos">
                        <a
                            href="javascript:void(0)"
                            class="usa-identifier__logo"
                            ><img
                                class="usa-identifier__logo-img"
                                src="https://www.energy.gov/themes/particle/dist/app-drupal/assets/energy_white.png"
                                alt="Department of Energy logo"
                                role="img"
                        /></a>
                    </div>
                    <section
                        class="usa-identifier__identity"
                        aria-label="Agency description"
                    >
                        <p class="usa-identifier__identity-domain">
                            energy.gov
                        </p>
                        <p class="usa-identifier__identity-disclaimer">
                            An official website of the
                            <a href="energy.gov">Department of Energy</a>
                        </p>
                    </section>
                </div>
            </section>
            <nav
                class="usa-identifier__section usa-identifier__section--required-links"
                aria-label="Important links"
            >
                <div class="usa-identifier__container">
                    <ul class="usa-identifier__required-links-list">
                        <li class="usa-identifier__required-links-item">
                            <a
                                href="javascript:void(0)"
                                class="usa-identifier__required-link usa-link"
                                >About Department of Energy</a
                            >
                        </li>
                        <li class="usa-identifier__required-links-item">
                            <a
                                href=""
                                class="usa-identifier__required-link usa-link"
                                >Accessibility support</a
                            >
                        </li>
                        <li class="usa-identifier__required-links-item">
                            <a
                                href=""
                                class="usa-identifier__required-link usa-link"
                                >FOIA requests</a
                            >
                        </li>
                        <li class="usa-identifier__required-links-item">
                            <a
                                href=""
                                class="usa-identifier__required-link usa-link"
                                >No FEAR Act data</a
                            >
                        </li>
                        <li class="usa-identifier__required-links-item">
                            <a
                                href=""
                                class="usa-identifier__required-link usa-link"
                                >Office of the Inspector General</a
                            >
                        </li>
                        <li class="usa-identifier__required-links-item">
                            <a
                                href=""
                                class="usa-identifier__required-link usa-link"
                                >Performance reports</a
                            >
                        </li>
                        <li class="usa-identifier__required-links-item">
                            <a
                                href=""
                                class="usa-identifier__required-link usa-link"
                                >Privacy policy</a
                            >
                        </li>
                    </ul>
                </div>
            </nav>
            <section
                class="usa-identifier__section usa-identifier__section--usagov"
                aria-label="U.S. government information and services"
            >
                <div class="usa-identifier__container">
                    <div class="usa-identifier__usagov-description">
                        Looking for U.S. government information and services?
                    </div>
                    <a href="https://www.usa.gov/" class="usa-link"
                        >Visit USA.gov</a
                    >
                </div>
            </section>
        </div>
        <script
            defer
            src="{{ site.baseurl }}/assets/uswds/js/uswds.js"
        ></script>
    </body>
</html>
